<div class="col-md-10 col-md-offset-1">
    <div class="message-show">
        <h2><%= @message.title %></h2>
        <p class="message-posted-by"><%= time_ago_in_words(@message.created_at) %> Ago </p>
        <p class="message-desc"><%= @message.description %></p>

        <h3 class="comment-section-header">Comments:</h3>
        <p><%= render @message.comments %></p>

        <h3 class="reply-to-msg">Join Discussion:</h3>
        <%= render 'comments/form' %>

        <div class="links btn-group">
            <%= link_to "Back", root_path, class: "btn btn-default"%>
            <% if user_signed_in? %>
                <% if @message.user_id == current_user.id %>
                    <%= link_to "Fix", edit_message_path, class: "btn btn-primary" %>
                    <%= link_to "Delete", message_path(@message), method: :delete, data: { confirm: "Are you sure? " }, class: "btn btn-danger" %>
                <% end %>
            <% end %>
        </div>
    </div>
</div>